services:
  Library-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

  library-api:
    build: 
      context: .
      dockerfile: projects/DigitalLibrary\Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - Library-db        

volumes:
  mssql-data: