name: deployment CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    environment: deployment
    env:
      DATABASE_CONNECTION_STRING: ${{ env.DATABASE_CONNECTION_STRING }}

    steps:
    - uses: actions/checkout@v4

    - name: Print environment variable
      run: echo "DATABASE_CONNECTION_STRING ${{ env.DATABASE_CONNECTION_STRING }}"

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore

    - name: Install EF tools
      run: |
        dotnet tool install --global dotnet-ef
        dotnet tool restore

    - name: Apply Migrations
      run: |
        LAST_GOOD_MIGRATION=$(dotnet ef migrations list -s projects/DigitalLibrary -p projects/LibraryRepo | tail -2 | head -1)
        dotnet ef database update -s projects/DigitalLibrary -p projects/LibraryRepo || dotnet ef database update $LAST_GOOD_MIGRATION -s projects/DigitalLibrary -p projects/LibraryRepo

    - name: Test
      run: dotnet test --no-build --verbosity normal
