name: development CI/CD

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development 
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x'
      env:
        DATABASE_CONNECTION_STRING: ${{ env.DATABASE_CONNECTION_STRING }}

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Install EF tools
      run: 
      dotnet tool install --global dotnet-ef
      dotnet tool restore 

    - name: Apply Migrations
      run: |
        LAST_GOOD_MIGRATION=$(dotnet ef migrations list -s projects/digitallibrary -p projects\LibraryRepo | tail -2 | head -1)
       dotnet ef database update -s projects/digitallibrary -p projects\LibraryRepo || dotnet ef database update $LAST_GOOD_MIGRATION -p projects/libraryrepo -s projects/digitallibrary

    - name: Test with dotnet
      run: dotnet test --configuration Release
